html, body {
  height: 100%;
  width: 100%;
  background-color: #121214;
}

.grid {
  font-size: 30px;
  margin: 10%;
}

.answer {
  text-align: center;
  height: 65px;
  width: 15%;
  border-style: solid;
  display: inline-block;
  margin-right: 1%;
  margin-left: 0;
}


